<%@ page import="projetvalise.User" %>
<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main">
    <g:set var="entityName" value="${message(code: 'user.label', default: 'User')}"/>
    <title><g:message code="default.show.label" args="[entityName]"/></title>
</head>

<body>
<a href="#show-user" class="skip" tabindex="-1"><g:message code="default.link.skip.label"
                                                           default="Skip to content&hellip;"/></a>

<div class="nav" role="navigation">
    <ul>
        <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
        <li><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]"/></g:link></li>
        <li><g:link class="create" action="create"><g:message code="default.new.label"
                                                              args="[entityName]"/></g:link></li>
    </ul>
</div>

<div id="show-user" class="content scaffold-show" role="main">
    <h1><g:message code="default.show.label" args="[entityName]"/></h1>
    <g:if test="${flash.message}">
        <div class="message" role="status">${flash.message}</div>
    </g:if>
    <ol class="property-list user">

        <g:if test="${userInstance?.login}">
            <li class="fieldcontain">
                <span id="login-label" class="property-label"><g:message code="user.login.label"
                                                                         default="Login"/></span>

                <span class="property-value" aria-labelledby="login-label"><g:fieldValue bean="${userInstance}"
                                                                                         field="login"/></span>

            </li>
        </g:if>

        <g:if test="${userInstance?.password}">
            <li class="fieldcontain">
                <span id="password-label" class="property-label"><g:message code="user.password.label"
                                                                            default="Password"/></span>

                <span class="property-value" aria-labelledby="password-label"><g:fieldValue bean="${userInstance}"
                                                                                            field="password"/></span>

            </li>
        </g:if>

        <g:if test="${userInstance?.dateCreated}">
            <li class="fieldcontain">
                <span id="dateCreated-label" class="property-label"><g:message code="user.dateCreated.label"
                                                                               default="Date Created"/></span>

                <span class="property-value" aria-labelledby="dateCreated-label"><g:formatDate
                        date="${userInstance?.dateCreated}"/></span>

            </li>
        </g:if>

        <g:if test="${userInstance?.role}">
            <li class="fieldcontain">
                <span id="role-label" class="property-label"><g:message code="user.role.label" default="Role"/></span>

                <span class="property-value" aria-labelledby="role-label"><g:fieldValue bean="${userInstance}"
                                                                                        field="role"/></span>

            </li>
        </g:if>

        <g:if test="${userInstance?.collections}">
            <li class="fieldcontain">
                <span id="collections-label" class="property-label"><g:message code="user.collections.label"
                                                                               default="Collections"/></span>

                <g:each in="${userInstance.collections}" var="c">
                    <span class="property-value" aria-labelledby="collections-label"><g:link controller="collection"
                                                                                             action="show"
                                                                                             id="${c.id}">${c?.encodeAsHTML()}</g:link></span>
                </g:each>

            </li>
        </g:if>

    </ol>
    <g:form>
        <fieldset class="buttons">
            <g:hiddenField name="id" value="${userInstance?.id}"/>
            <g:link class="edit" action="edit" id="${userInstance?.id}"><g:message code="default.button.edit.label"
                                                                                   default="Edit"/></g:link>
            <g:actionSubmit class="delete" action="delete"
                            value="${message(code: 'default.button.delete.label', default: 'Delete')}"
                            onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');"/>
        </fieldset>
    </g:form>
</div>
</body>
</html>
